[project]
	description = example of system verilog assertions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
[access "refs/for/refs/*"]
	read = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	push = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	label-Code-Review = -2..+2 group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	label-Verified = -1..+1 group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	rebase = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	removeReviewer = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	submit = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
[access "refs/heads/*"]
	read = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	create = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	push = +force group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	pushMerge = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
[access "refs/tags/*"]
	push = +force group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	pushTag = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
	pushSignedTag = group user/Ciro Luiz Araujo Ceissler (ciroceissler)
